@charset "UTF-8";
/**
Mixins pour le responsive du site https://openclassrooms.com/fr/
*/
/* Modèle CTA */
/****************/
/* Animations - Keyframes */
@keyframes fadeInTitle {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* Police d'écritures du site */
@font-face {
  font-family: "Comication";
  src: url("../fonts/Comication.woff") format("woff");
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham.woff") format("woff");
}
@font-face {
  font-family: "Teacher";
  src: url("../fonts/Teacher.woff") format("woff");
}
@font-face {
  font-family: "Dschool";
  src: url("../fonts/Cafe24Decoschool.woff") format("woff");
}
@font-face {
  font-family: "Paragraphe";
  src: url("../fonts/CaviarDreams.woff") format("woff");
}
/* Variables couleurs du site */
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

hr {
  display: none;
  max-width: 90vw;
  background-color: #333333;
  color: #E0E0E0;
  height: 10px;
  border-bottom: 3px solid black;
  border-top: 1px solid white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
  margin-top: 10vh;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 5vh;
  align-items: center;
  border-radius: 25% 25% 0% 0%;
  box-shadow: 0 -4px 6px -2px #D2B48C;
  border-top: 10px solid black;
  padding-top: 2vh;
  padding-bottom: 3vh;
  background-color: #D2B48C;
}
@media (max-width: 760px) {
  .site-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
}
.site-header__logo {
  opacity: 0;
  transform: translateY(20px);
  width: 100px;
  height: 70px;
  align-items: center;
  animation: fadeInTitle 1s ease-in-out forwards;
  margin-left: 5vw;
  padding: 1%;
  border-radius: 50%;
}
@media (max-width: 760px) {
  .site-header__logo {
    margin-left: 0;
    padding: none;
  }
}
.site-header__logo a img {
  width: 100%;
  border-radius: 50%;
}
.site-header__logo a img:hover {
  transform: scale(1.1);
}
.site-header__menu {
  font-family: Paragraphe;
  font-size: 30px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInTitle 2s ease-in-out forwards;
  margin-right: 5vw;
}
@media (max-width: 760px) {
  .site-header__menu {
    margin-right: 0;
    font-size: 20px;
  }
}
.site-header__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.site-header__menu li {
  margin-left: 20px;
  padding: 4px;
}
.site-header__menu a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.8s ease-in-out;
}
.site-header__menu a:hover {
  color: #E0E0E0;
  text-shadow: 0px 3px 3px #333333;
}

/*.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    //margin-top: 5vh;
    align-items: center;
    //margin-top: 5vh;
    //border-radius: 15%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    //border-top: 10px solid $theme-color-1;
    border-bottom: 5px double $theme-color-1;
    padding-top: 2vh;
    //padding-bottom: 3vh;
    background-color: $theme-color-3;
    @include respond_to_mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        &__logo {
            opacity: 0;
            transform: translateY(20px);
            width: 100px;
            height: 70px;
            align-items: center;
            animation: fadeInTitle 1s ease-in-out forwards;
            margin-left: 5vw;
            padding: 1%;
            border-radius: 50%;
            @include respond_to_mobile {
                margin-left: 0;
                padding: none;
            }
            a {
                img {
                    width: 100%;
                    border-radius: 50%;
                    &:hover {
                        transform: scale(1.10);
                    }
                }
            }

        }
        &__menu {
            font-family: Teacher;
            font-size: 30px;
            opacity: 0;
            transform: translateY(30px);
            animation: fadeInTitle 2s ease-in-out forwards;
            margin-right: 5vw;
            @include respond_to_mobile {
                margin-right: 0;
            }
            ul {
                list-style: none; 
                padding: 0; 
                margin: 0; 
                display: flex; 
            }
            li {
                margin-left: 20px;
                padding: 4px;
            }
        a {
            text-decoration: none; 
            color: $theme-color-2; 
            font-weight: bold; 
            transition: color 1s ease-in-out;
            &:hover {
                color: $theme-color-1;
                text-shadow: 0px 3px 3px $theme-color-2;
                text-decoration: underline;
            }
        }  
        }
  }*/
.hero-header {
  height: 70vh;
  margin: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: -3vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid #D2B48C;
  border-top: 2px solid #D2B48C;
  border-radius: 0% 0% 15% 15%;
  transform: translateY(-50px);
  animation: fadeInTitle 3s ease forwards;
  z-index: 0;
}
@media (max-width: 760px) {
  .hero-header {
    margin-top: 0;
  }
}
.hero-header__content {
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  color: #D2B48C;
  font-family: Paragraphe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 760px) {
  .hero-header__content {
    width: 100%;
  }
}
.hero-header__content .typewriter-container {
  font-family: Paragraphe;
  display: flex;
  justify-content: flex-start;
  color: #D2B48C;
}
@media (max-width: 760px) {
  .hero-header__content .typewriter-container {
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}
.hero-header__content .typewriter-container__title h1 {
  font-size: 75px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 2.5s steps(15);
  margin-bottom: 25vh;
}
@media (max-width: 760px) {
  .hero-header__content .typewriter-container__title h1 {
    font-size: 30px;
    margin-bottom: 15vh;
  }
}
.hero-header__content p {
  transform: translateY(20px);
  animation: fadeInTitle 3s ease forwards;
}
.hero-header__content .cta-button {
  display: inline-block;
  padding: 20px 35px;
  background-color: #F5F5F5;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
}
.hero-header__content .cta-button:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
}

.about-me {
  display: flex;
  flex-direction: row;
  max-width: 85vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  gap: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 5vh;
  border-radius: 15px;
  transition: transform 0.3s;
}
@media (max-width: 760px) {
  .about-me {
    flex-direction: column-reverse;
  }
}
.about-me__text {
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;
}
@media (max-width: 760px) {
  .about-me__text {
    width: 100%;
  }
}
.about-me__text h2 {
  font-family: Paragraphe;
  font-size: 2.5rem;
  color: #D2B48C;
}
.about-me__text p {
  font-family: Paragraphe;
  font-size: 15px;
  color: grey;
}
.about-me__text .cta-button2 {
  display: inline-block;
  padding: 20px 35px;
  background-color: #F5F5F5;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
}
.about-me__text .cta-button2:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
}
.about-me__photo {
  width: 50%;
  height: 100%;
  margin-bottom: 0;
  border-radius: 50%;
  border-left: 5px solid #E0E0E0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
}
.about-me__photo:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 15px #D2B48C;
  transform: scale(1.05);
}
@media (max-width: 760px) {
  .about-me__photo {
    width: 100%;
  }
}
.about-me__photo img {
  width: 100%;
  height: 100%;
  border-right: 5px solid #D2B48C;
  border-radius: 50%;
}

.title-tech {
  margin-top: 12vh;
  max-width: 80vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Paragraphe;
  font-size: 2.5rem;
  color: #D2B48C;
}

.technologies-carousel {
  padding: 40px 20px;
  background-color: white;
  margin-top: 5vh;
}
.technologies-carousel .swipe-container {
  position: relative;
  overflow: hidden; /* Cache les éléments hors de la zone visible */
}
.technologies-carousel .swipe-container .swipe .swipe-wrapper {
  display: flex; /* Aligne les éléments horizontalement */
  flex-direction: row;
  gap: 15vw;
}
.technologies-carousel .swipe-container .swipe .swipe-wrapper .swipe-item {
  flex: 0 0 auto; /* Empêche les éléments de se réduire */
  margin-right: 10px; /* Espace entre les éléments */
  text-align: center; /* Centrer le contenu */
}
.technologies-carousel .swipe-container .swipe .swipe-wrapper .swipe-item img {
  width: 80px; /* Largeur de l'icône */
  height: auto; /* Hauteur automatique pour garder les proportions */
  margin: 0 auto; /* Centrer l'image */
}

.liste-projet {
  padding: 50px 0;
}
.liste-projet__h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: Paragraphe;
  color: #D2B48C;
}
.liste-projet__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 90vw;
  margin: 0 auto;
}
.liste-projet__grid__project {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(90, 86, 86, 0.3);
  background-color: #D2B48C;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
  text-decoration: none;
}
.liste-projet__grid__project:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 5px #E0E0E0;
  transform: scale(1.05);
}
.liste-projet__grid__project img {
  max-width: 100%;
  height: 50%;
  border-radius: 50%;
}
.liste-projet__grid__project h3 {
  font-size: 1.5rem;
  font-family: Paragraphe;
  color: #E0E0E0;
}
.liste-projet__grid__project p {
  font-size: 1rem;
  color: #333333;
  font-family: Paragraphe;
  margin-bottom: 10vh;
}
.liste-projet__grid__project .project-link {
  display: inline-block;
  text-decoration: none;
}
.liste-projet__grid__project .langage {
  border: 2px solid #333333;
  box-shadow: 0px -5px -6px #333333;
}

/* Single-projet.php*/
.main-title {
  margin: auto;
  margin-bottom: 15vh;
  padding-bottom: 3%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Paragraphe;
  font-size: 40px;
  color: #D2B48C;
  border-bottom: 2px solid #D2B48C;
}
@media (max-width: 760px) {
  .main-title {
    font-size: 25px;
    align-content: center;
    text-align: center;
  }
}

.projet-detail {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
@media (max-width: 760px) {
  .projet-detail {
    text-align: center;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
  }
}
.projet-detail__thumbnail {
  width: 50%;
  height: 50%;
}
@media (max-width: 760px) {
  .projet-detail__thumbnail {
    width: 100%;
  }
}
.projet-detail__thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
@media (max-width: 760px) {
  .projet-detail__thumbnail img {
    width: 80%;
    height: 100%;
  }
}
.projet-detail__info {
  width: 100%;
  margin-bottom: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
@media (max-width: 760px) {
  .projet-detail__info {
    width: 100%;
  }
}
.projet-detail__info h2 {
  font-size: 50px;
  color: #D2B48C;
  font-family: Teacher;
}
@media (max-width: 760px) {
  .projet-detail__info h2 {
    font-size: 35px;
  }
}
.projet-detail__info p {
  font-family: Paragraphe;
  font-size: 15px;
  color: grey;
}
@media (max-width: 760px) {
  .projet-detail__info p {
    font-size: 20px;
  }
}
.projet-detail__info__context {
  display: flex;
  flex-direction: column;
}
.projet-detail__info__competences ul {
  list-style-type: none;
  padding-left: 0;
}
.projet-detail__info__competences ul li {
  display: inline-block;
  background-color: #D2B48C;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
}
.projet-detail__info__link .cta-link {
  display: inline-block;
  padding: 20px 35px;
  background-color: #F5F5F5;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
}
.projet-detail__info__link .cta-link:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
}

.swiper-container {
  width: 100%;
  height: 400px;
}
.swiper-container .swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15%;
  border-left: 2px solid #D2B48C;
  border-right: 2px solid #E0E0E0;
  box-shadow: 5px 5px 15px #D2B48C;
}

footer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  border-top: 2px solid #D2B48C;
  font-family: Paragraphe;
  color: gray;
}

.contact-section {
  margin: 0 auto;
  text-align: center;
  color: #F5F5F5;
  font-family: Paragraphe;
  font-size: 1.8rem;
}
@media (max-width: 760px) {
  .contact-section {
    font-size: 1rem;
  }
}
.contact-section__form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contact-section__info p {
  font-size: 1.1em;
  margin: 10px 0;
  color: #E0E0E0;
  font-family: Paragraphe;
}
@media (max-width: 760px) {
  .contact-section__info p {
    font-size: 1rem;
  }
}
.contact-section__info iframe {
  border-radius: 15%;
  border-top: 5px solid #D2B48C;
  margin-top: 5vh;
}

.btn-submit {
  display: inline-block;
  padding: 20px 35px;
  background-color: #F5F5F5;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
  margin-left: 5vw;
}
.btn-submit:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
}
@media (max-width: 760px) {
  .btn-submit {
    margin-left: 15vw;
  }
}/*# sourceMappingURL=style.css.map */