@charset "UTF-8";
/**
Mixins pour le responsive du site https://openclassrooms.com/fr/
*/
/* Modèle CTA */
/****************/
/* Animations - Keyframes */
@keyframes fadeInTitle {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* Police d'écritures du site */
@font-face {
  font-family: "Paragraphe";
  src: url("../fonts/CaviarDreams.woff") format("woff");
}
@font-face {
  font-family: "Ship";
  src: url("../fonts/spaceship.woff") format("woff");
}
/* Variables couleurs du site */
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background: black;
}

hr {
  display: none;
  max-width: 90vw;
  background-color: #333333;
  color: #E0E0E0;
  height: 10px;
  border-bottom: 3px solid black;
  border-top: 1px solid white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px;
  margin-top: 10vh;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 5vh;
  align-items: center;
  border-radius: 25% 25% 0% 0%;
  box-shadow: 0 -4px 6px -2px #D2B48C;
  border-top: 10px solid black;
  padding-top: 2vh;
  padding-bottom: 3vh;
  background-color: #D2B48C;
}
@media (max-width: 760px) {
  .site-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
  }
}
.site-header__logo {
  opacity: 0;
  transform: translateY(20px);
  width: 100px;
  height: 70px;
  align-items: center;
  animation: fadeInTitle 1s ease-in-out forwards;
  margin-left: 5vw;
  padding: 1%;
  border-radius: 50%;
}
@media (max-width: 760px) {
  .site-header__logo {
    margin-left: 0;
    padding: none;
  }
}
.site-header__logo a img {
  width: 100%;
  border-radius: 50%;
}
.site-header__logo a img:hover {
  transform: scale(1.1);
}
.site-header__menu {
  font-family: Ship;
  font-size: 30px;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInTitle 2s ease-in-out forwards;
  margin-right: 5vw;
}
@media (max-width: 760px) {
  .site-header__menu {
    margin-right: 0;
    font-size: 25px;
  }
}
.site-header__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.site-header__menu li {
  margin-left: 20px;
  padding: 4px;
}
.site-header__menu a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.8s ease-in-out;
}
.site-header__menu a:hover {
  color: #E0E0E0;
  text-shadow: 0px 3px 3px #333333;
}

.hero-header {
  height: 70vh;
  margin: auto;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: -3vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 5px solid #D2B48C;
  border-top: 2px solid #D2B48C;
  border-radius: 0% 0% 15% 15%;
  transform: translateY(-50px);
  animation: fadeInTitle 3s ease forwards;
  z-index: 0;
}
@media (max-width: 760px) {
  .hero-header {
    margin-top: 0;
  }
}
.hero-header__content {
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  color: #D2B48C;
  font-family: Paragraphe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 760px) {
  .hero-header__content {
    width: 100%;
  }
}
.hero-header__content .typewriter-container {
  font-family: Paragraphe;
  display: flex;
  justify-content: flex-start;
  color: #D2B48C;
}
@media (max-width: 760px) {
  .hero-header__content .typewriter-container {
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}
.hero-header__content .typewriter-container__title h1 {
  font-size: 75px;
  font-weight: lighter;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: typing 2.5s steps(15);
  margin-bottom: 25vh;
}
@media (max-width: 760px) {
  .hero-header__content .typewriter-container__title h1 {
    font-size: 30px;
    margin-bottom: 15vh;
  }
}
.hero-header__content p {
  transform: translateY(20px);
  animation: fadeInTitle 3s ease forwards;
}
.hero-header__content .cta-button {
  display: inline-block;
  padding: 20px 35px;
  background-color: #E0E0E0;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Paragraphe;
  text-decoration: none;
  border-radius: 5px;
  border: 3px outset #D2B48C;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
}
.hero-header__content .cta-button:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
  border: 3px inset #333333;
}
@media (max-width: 760px) {
  .hero-header__content .cta-button {
    font-size: 1.4rem;
  }
}

.about-me {
  display: flex;
  flex-direction: row;
  max-width: 85vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  gap: 5vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 5vh;
  margin-bottom: 15vh;
  border-radius: 15px;
  transition: transform 0.3s;
}
@media (max-width: 760px) {
  .about-me {
    flex-direction: column-reverse;
  }
}
.about-me__text {
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;
}
@media (max-width: 760px) {
  .about-me__text {
    width: 100%;
  }
}
.about-me__text h2 {
  font-family: Ship;
  font-size: 2.5rem;
  color: #D2B48C;
}
.about-me__text p {
  font-family: Paragraphe;
  font-size: 1.2rem;
  color: darkgray;
}
.about-me__text .cta-button2 {
  display: inline-block;
  padding: 20px 35px;
  background-color: #E0E0E0;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Paragraphe;
  text-decoration: none;
  border-radius: 5px;
  border: 3px outset #D2B48C;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
}
.about-me__text .cta-button2:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
  border: 3px inset #333333;
}
.about-me__photo {
  width: 50%;
  height: 100%;
  margin-bottom: 0;
  border-radius: 50%;
  border-left: 5px solid #E0E0E0;
  box-shadow: 5px 5px 15px #E0E0E0;
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
}
.about-me__photo:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 15px #D2B48C;
  transform: scale(1.05);
}
@media (max-width: 760px) {
  .about-me__photo {
    width: 100%;
  }
}
.about-me__photo img {
  width: 100%;
  height: 100%;
  border-right: 5px solid #D2B48C;
  border-radius: 50%;
}

.a-propos {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  max-width: 80%;
  margin: 0 auto;
  align-items: center;
}
.a-propos .competences {
  padding: 20px;
  background-color: #333333;
  border-radius: 15%;
  margin-top: 5vh;
  width: 100%;
  box-shadow: 5px 5px 15px #E0E0E0;
  border-left: 5px solid #E0E0E0;
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
}
.a-propos .competences:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 15px #D2B48C;
  transform: scale(1.03);
}
.a-propos .competences .cta-button2 {
  display: inline-block;
  padding: 20px 35px;
  background-color: #E0E0E0;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Paragraphe;
  text-decoration: none;
  border-radius: 5px;
  border: 3px outset #D2B48C;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
}
.a-propos .competences .cta-button2:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
  border: 3px inset #333333;
}
@media (max-width: 760px) {
  .a-propos .competences .cta-button2 {
    padding: 15px 15px;
  }
}
.a-propos .competences h2 {
  font-size: 2.5rem;
  font-family: Ship;
  text-align: center;
  margin-bottom: 5vh;
  color: #D2B48C;
  animation: fadeInTitle 1s ease-in-out forwards;
}
.a-propos .competences .competence {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  padding: 2%;
}
.a-propos .competences .competence p {
  font-size: 1rem;
  font-family: Paragraphe;
  color: #E0E0E0;
  width: 80%;
}
.a-propos .competences .competence .competence-name {
  font-size: 1rem;
  color: #E0E0E0;
  font-family: Paragraphe;
  font-weight: bolder;
}
.a-propos .competences .competence .competence-bar {
  background-color: #E0E0E0;
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
  margin-top: 5px;
  width: 80%;
}
.a-propos .competences .competence .competence-bar .competence-level {
  background-color: #D2B48C;
  height: 100%;
  border-radius: 8px;
  transition: width 1.5s ease-in-out;
}
.a-propos .competences .competence .competence-bar .competence-level:hover {
  background-color: darkgray;
  transition: background-color 0.2s ease-in-out;
}
.a-propos .cv-sections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  background-color: #333333;
  border-radius: 15%;
  padding: 20px;
  box-shadow: 5px 5px 15px #E0E0E0;
  border-left: 5px solid #E0E0E0;
  margin-top: 5vh;
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
}
.a-propos .cv-sections:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 15px #D2B48C;
  transform: scale(1.03);
}
.a-propos .cv-sections h2 {
  font-size: 2.5rem;
  font-family: Ship;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #D2B48C;
}
.a-propos .cv-sections .cv-section {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.a-propos .cv-sections .cv-section .cv-title {
  cursor: pointer;
  background-color: #D2B48C;
  padding: 10px;
  border: 2px solid #F5F5F5;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #E0E0E0;
  transition: background-color 0.3s;
  color: #333333;
  font-family: Paragraphe;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.a-propos .cv-sections .cv-section .cv-title:hover {
  background-color: #E0E0E0;
}
.a-propos .cv-sections .cv-section .cv-content {
  display: none;
  padding: 10px;
  border-left: 3px solid #D2B48C;
  margin: 5px 0 15px;
  width: 80%;
  margin: 0 auto;
  color: #E0E0E0;
  font-family: Paragraphe;
}

/*.competences {
    padding: 20px;
    background-color: $theme-color-2;
    border-radius: 15%;
    margin-top: 15vh;
    //margin: 0 auto;
    width: 50%;
    box-shadow: 5px 5px 15px $theme-color-3;
    border-left: 5px solid $theme-color-3;
    h2 {
        font-size: 2.5rem;
        font-family: Ship;
        text-align: center;
        margin-bottom: 5vh;
        color: $theme-color-1;
        animation: fadeInTitle 1s ease-in-out forwards;
    }
    .competence {
        margin-bottom: 5vh;
        text-align: center;
        p {
            font-size: 1rem;
            font-family: Paragraphe;
            color: $theme-color-3;
        }
        .competence-name {
            font-size: 1rem;
            color: $theme-color-3;
        }
        .competence-bar {
            background-color: $theme-color-3;
            border-radius: 8px;
            overflow: hidden;
            height: 10px;
            margin-top: 5px;
            .competence-level {
                background-color: $theme-color-1;
                height: 100%;
                border-radius: 8px;
                transition: width 1.5s ease-in-out;
                &:hover {
                    background-color: darkgray;
                    transition: background-color 0.2s ease-in-out;
                }
            }
        }
    }
}*/
.liste-projet {
  padding: 50px 0;
}
.liste-projet__h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: Ship;
  color: #D2B48C;
}
.liste-projet__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 90vw;
  margin: 0 auto;
}
.liste-projet__grid__project {
  padding: 20px;
  border-left: 5px solid #E0E0E0;
  border-radius: 15%;
  box-shadow: 5px 5px 15px rgba(90, 86, 86, 0.3);
  background-color: #333333;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
  text-decoration: none;
}
.liste-projet__grid__project:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 5px #D2B48C;
  transform: scale(1.05);
}
.liste-projet__grid__project img {
  max-width: 85%;
  height: 50%;
  border-radius: 50%;
  border: 5px inset #D2B48C;
  -o-object-fit: cover;
     object-fit: cover;
}
.liste-projet__grid__project h3 {
  font-size: 1.5rem;
  font-family: Paragraphe;
  color: #D2B48C;
}
.liste-projet__grid__project p {
  font-size: 1rem;
  color: darkgray;
  font-family: Paragraphe;
  margin-bottom: 30vh;
}
.liste-projet__grid__project .project-link {
  display: inline-block;
  text-decoration: none;
}
.liste-projet__grid__project .langage {
  border: 2px solid #333333;
  box-shadow: 0px -5px -6px #333333;
}

/* Single-projet.php*/
.main-title {
  margin: auto;
  margin-bottom: 15vh;
  padding-bottom: 3%;
  padding-top: 3%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Ship;
  font-size: 40px;
  color: #D2B48C;
  border-bottom: 2px solid #D2B48C;
}
@media (max-width: 760px) {
  .main-title {
    font-size: 25px;
    align-content: center;
    text-align: center;
  }
}

.projet-detail {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  overflow: hidden;
  align-items: center;
  text-align: center;
}
@media (max-width: 760px) {
  .projet-detail {
    text-align: center;
    align-items: center;
    max-width: 100%;
    font-size: 15px;
  }
}
.projet-detail__thumbnail {
  width: 65%;
  height: 50%;
}
@media (max-width: 760px) {
  .projet-detail__thumbnail {
    width: 100%;
  }
}
.projet-detail__thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  box-shadow: 5px 5px 15px #E0E0E0;
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
}
.projet-detail__thumbnail img:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 15px #D2B48C;
  transform: scale(1.05);
}
@media (max-width: 760px) {
  .projet-detail__thumbnail img {
    width: 80%;
    height: 100%;
  }
}
.projet-detail__info {
  margin-bottom: 0;
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
@media (max-width: 760px) {
  .projet-detail__info {
    width: 100%;
    gap: 1vh;
  }
}
.projet-detail__info h2 {
  font-size: 3rem;
  color: #D2B48C;
  font-family: Ship;
}
@media (max-width: 760px) {
  .projet-detail__info h2 {
    font-size: 35px;
  }
}
.projet-detail__info p {
  font-family: Paragraphe;
  font-size: 1.5rem;
  color: darkgray;
}
@media (max-width: 760px) {
  .projet-detail__info p {
    font-size: 1rem;
  }
}
.projet-detail__info__context {
  display: flex;
  flex-direction: column;
}
.projet-detail__info__competences ul {
  list-style-type: none;
  padding-left: 0;
}
.projet-detail__info__competences ul li {
  display: inline-block;
  background-color: #D2B48C;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
}
.projet-detail__info__link .cta-link {
  display: inline-block;
  padding: 20px 35px;
  background-color: #E0E0E0;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Paragraphe;
  text-decoration: none;
  border-radius: 5px;
  border: 3px outset #D2B48C;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
}
.projet-detail__info__link .cta-link:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
  border: 3px inset #333333;
}

.swiper-container {
  width: 100%;
  height: 400px;
}
.swiper-container .swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
.swiper-container .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15%;
  border-left: 2px solid #D2B48C;
  border-right: 2px solid #E0E0E0;
  box-shadow: 5px 5px 15px #D2B48C;
}
@media (max-width: 760px) {
  .swiper-container .swiper-wrapper .swiper-slide img {
    height: 50%;
  }
}

.other-project {
  margin-top: 50px;
}
.other-project h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #D2B48C;
  font-family: Ship;
}
.other-project__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  max-width: 90vw;
  margin: 0 auto;
}
.other-project__item {
  text-align: center;
  transition: transform 0.3s;
  padding: 15px;
  border-radius: 15%;
  transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
  padding-bottom: 10%;
}
@media (max-width: 760px) {
  .other-project__item {
    margin-bottom: 5vh;
    border-top: 2px solid #D2B48C;
  }
}
.other-project__item img {
  width: 80%;
  height: 80%;
  border-radius: 15%;
  margin-bottom: 10px;
}
.other-project__item h3 {
  font-size: 1.2rem;
  color: #D2B48C;
}
.other-project__item a {
  text-decoration: none;
}
.other-project__item:hover {
  transform: translateY(-5px);
  transform: scale(1.05);
  box-shadow: 0px 6px 10px #D2B48C;
}

footer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  border-top: 2px solid #D2B48C;
  font-family: Paragraphe;
  color: gray;
}

/* Animation de clignotement */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}
.loader__content {
  color: #D2B48C;
  font-size: 2rem;
  font-family: Paragraphe;
  animation: blink 1.5s infinite;
}

.loader.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Modal de contact */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Assure que la modale est au-dessus des autres éléments */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Ship;
  margin: 0 auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}
@media (max-width: 760px) {
  .modal {
    top: 0;
  }
}
.modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-image: url("../images/moon.jpg");
  background-position: bottom center;
  background-size: 110%;
  background-repeat: no-repeat;
  border: 5px solid #D2B48C;
  font-size: 1rem;
  color: #E0E0E0;
  max-width: 50vw;
  box-sizing: border-box;
  margin: auto;
  border-radius: 15%;
}
@media (max-width: 760px) {
  .modal__content {
    max-width: 90vw;
    max-height: 80vh;
  }
}
@media (min-width: 768px) and (max-width: 1250px) {
  .modal__content {
    max-width: 90vw;
  }
}
.modal__content .close {
  color: #D2B48C;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal__content .close:hover {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
  transform: scale(2);
}
.modal__content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal__content .wpcf7 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.modal__content .wpcf7 form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.modal__content .wpcf7 span input {
  width: 100%;
  height: 3vh;
  border: 1px solid #D2B48C;
  border-radius: 15%;
  font-family: Paragraphe;
  color: black;
}
@media (max-width: 760px) {
  .modal__content .wpcf7 span input {
    width: 80%;
  }
}
.modal__content .wpcf7 span textarea {
  width: 100%;
  border: 1px solid #D2B48C;
  border-radius: 8px;
}
@media (max-width: 760px) {
  .modal__content .wpcf7 span textarea {
    height: 15vh;
  }
}
.modal__content .wpcf7 .wpcf7-submit {
  display: inline-block;
  padding: 20px 35px;
  background-color: #E0E0E0;
  color: #333333;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: Paragraphe;
  text-decoration: none;
  border-radius: 5px;
  border: 3px outset #D2B48C;
  transform: translateY(40px);
  animation: fadeInTitle 3s ease forwards;
  transition: background-color 1.2s ease, transform 0.8s ease-out;
  margin-left: 5vw;
  padding: 5px 5px;
  font-size: 1rem;
  cursor: pointer;
}
.modal__content .wpcf7 .wpcf7-submit:hover {
  background-color: #D2B48C;
  color: #E0E0E0;
  transform: scale(1.5);
  box-shadow: 3px 5px 10px #D2B48C;
  border: 3px inset #333333;
}
@media (max-width: 760px) {
  .modal__content .wpcf7 .wpcf7-submit {
    margin-left: 15vw;
  }
}
.modal__content .wpcf7 .wpcf7-submit:active {
  transform: scale(0.9); /* Réduit légèrement la taille du bouton lorsqu'il est pressé */
}

.wpcf7 form .wpcf7-response-output {
  max-width: 50vh;
  font-size: 1rem;
  margin-top: 1vh;
}/*# sourceMappingURL=style.css.map */