
/**
Mixins pour le responsive du site https://openclassrooms.com/fr/
*/
@mixin respond_to_mobile {
    @media (max-width: 760px) {
        @content;
    }
}

@mixin respond_to_tablet {
    @media (min-width: 768px) and (max-width: 1250px) {
        @content;
    }
}

/* Modèle CTA */
@mixin cta-button {
    display: inline-block;
    padding: 20px 35px;
    background-color: $theme-color-3; 
    color: $theme-color-2;
    font-size: 1.8rem;
    font-weight: bold;
    font-family: Paragraphe;
    text-decoration: none;
    border-radius: 5px; 
    border: 3px outset $theme-color-1;
    transform: translateY(40px);
    animation: fadeInTitle 3s ease forwards;
    transition: background-color 1.2s ease, transform 0.8s ease-out;
        &:hover {
            background-color: $theme-color-1;
            color: $theme-color-3;
            transform: scale(1.50);
            box-shadow: 3px 5px 10px $theme-color-1;
            border: 3px inset $theme-color-2;
        }
}
/****************/
/* Animations - Keyframes */
@keyframes fadeInTitle {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Police d'écritures du site */

@font-face {
    font-family: 'Paragraphe';
    src: url('../fonts/CaviarDreams.woff') format('woff'),
}
@font-face {
    font-family: 'Ship';
    src: url('../fonts/spaceship.woff') format('woff'),
}

/* Variables couleurs du site */
$theme-color-1: #D2B48C;
$theme-color-2: #333333;
$theme-color-3: #E0E0E0;
$theme-color-4: #F5F5F5; 

html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    background: black;
}
hr {
    display: none;
    max-width: 90vw;
    background-color: $theme-color-2;
    color: $theme-color-3;
    height: 10px;
    border-bottom: 3px solid black;
    border-top: 1px solid white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 5px;
    //box-shadow: 1px 2px 2px white;
    margin-top: 10vh;
}

.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    margin-top: 5vh;
    align-items: center;
    border-radius: 25% 25% 0% 0%;
    box-shadow: 0 -4px 6px -2px $theme-color-1;
    border-top: 10px solid black;
    padding-top: 2vh;
    padding-bottom: 3vh;
    background-color: $theme-color-1;
    @include respond_to_mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
        &__logo {
            opacity: 0;
            transform: translateY(20px);
            width: 100px;
            height: 70px;
            align-items: center;
            animation: fadeInTitle 1s ease-in-out forwards;
            margin-left: 5vw;
            padding: 1%;
            border-radius: 50%;
            @include respond_to_mobile {
                margin-left: 0;
                padding: none;
            }
            a {
                img {
                    width: 100%;
                    border-radius: 50%;
                    &:hover {
                        transform: scale(1.10);
                    }
                }
            }
            
        }
        &__menu {
            font-family: Ship;
            font-size: 30px;
            opacity: 0;
            transform: translateY(30px);
            animation: fadeInTitle 2s ease-in-out forwards;
            margin-right: 5vw;
            @include respond_to_mobile {
                margin-right: 0;
                font-size: 25px;
            }
            ul {
                list-style: none; 
                padding: 0; 
                margin: 0; 
                display: flex; 
            }
            li {
                margin-left: 20px;
                padding: 4px;
            }
        a {
            text-decoration: none; 
            color: $theme-color-2; 
            font-weight: bold; 
            transition: color 0.8s ease-in-out;
            &:hover {
                color: $theme-color-3;
                text-shadow: 0px 3px 3px $theme-color-2;
            }
        }  
        }
  }

.hero-header {
    height: 70vh;
    margin: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    margin-top: -3vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 5px solid $theme-color-1;
    border-top: 2px solid $theme-color-1;
    border-radius: 0% 0% 15% 15%;
    transform: translateY(-50px);
    animation: fadeInTitle 3s ease forwards;
    z-index: 0;
    @include respond_to_mobile {
        margin-top: 0;
    }
    &__content {
        justify-content: center;
        align-items: center;
        margin: auto;
        font-size: 30px;
        font-weight: 700;
        color: $theme-color-1;
        font-family: Paragraphe;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include respond_to_mobile {
            width: 100%;
        }
        .typewriter-container {
            font-family: Paragraphe;
            display: flex;
            justify-content: flex-start;
            color: $theme-color-1;
            //text-transform: uppercase;
            //text-shadow: 2px 2px 15px $theme-color-1;
            @include respond_to_mobile {
                width: 50%;
                align-items: center;
                justify-content: center;
            }
            &__title {
                h1 {
                    font-size: 75px;
                    font-weight: lighter;
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative;
                    animation: typing 2.5s steps(15);
                    margin-bottom: 25vh;
                    @include respond_to_mobile {
                        font-size: 30px;
                        margin-bottom: 15vh;
                    }
                }
            }

        }
        p {
            transform: translateY(20px);
            animation: fadeInTitle 3s ease forwards;
        }
        .cta-button {
            @include cta-button;
            @include respond_to_mobile {
                font-size: 1.4rem;
            }
        }
    }
}

.about-me {
    display: flex;
    flex-direction: row;
    max-width: 85vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    gap: 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 5vh;
    margin-bottom: 15vh;
    border-radius: 15px;
    transition: transform 0.3s;
    @include respond_to_mobile {
        flex-direction: column-reverse;
    }
        &__text {
            width: 50%;
            height: 100%;
            margin: auto;
            text-align: center;
            @include respond_to_mobile {
                width: 100%;
            }
            h2 {
                font-family: Ship;
                font-size: 2.5rem;
                color: $theme-color-1;
            }
            p {
                font-family: Paragraphe;
                font-size: 1.2rem;
                color: darkgray;
            }
            .cta-button2 {
                @include cta-button;
            }
        }
        &__photo {
            width: 50%;
            height: 100%;
            margin-bottom: 0;
            border-radius: 50%;
            border-left: 5px solid $theme-color-3;
            box-shadow: 5px 5px 15px $theme-color-3;
            transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
            &:hover {
                transform: translateY(-10px);
                box-shadow: 5px 5px 15px $theme-color-1;
                transform: scale(1.05);
            }
            @include respond_to_mobile {
                width: 100%;
            }
            img {
                width: 100%;
                height: 100%;
                border-right: 5px solid $theme-color-1;
                border-radius: 50%;
            }
        }
}


.a-propos {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    max-width: 80%;
    margin: 0 auto;
    align-items: center;
    .competences {
        padding: 20px;
        background-color: $theme-color-2;
        border-radius: 15%;
        margin-top: 5vh;
        //margin: 0 auto;
        width: 100%;
        box-shadow: 5px 5px 15px $theme-color-3;
        border-left: 5px solid $theme-color-3;
        transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
            &:hover {
                transform: translateY(-10px);
                box-shadow: 5px 5px 15px $theme-color-1;
                transform: scale(1.03);
            }
        .cta-button2 {
            @include cta-button;
            @include respond_to_mobile {
                padding: 15px 15px;
            }
        }
        h2 {
            font-size: 2.5rem;
            font-family: Ship;
            text-align: center;
            margin-bottom: 5vh;
            color: $theme-color-1;
            animation: fadeInTitle 1s ease-in-out forwards;
        }
        .competence {
            display: flex;
            flex-direction: column;
            //margin-bottom: 5vh;
            text-align: center;
            align-items: center;
            border-radius: 8px;
            padding: 2%;
            p {
                font-size: 1rem;
                font-family: Paragraphe;
                color: $theme-color-3;
                width: 80%;
            }
            .competence-name {
                font-size: 1rem;
                color: $theme-color-3;
                font-family: Paragraphe;
                font-weight: bolder;
            }
            .competence-bar {
                background-color: $theme-color-3;
                border-radius: 8px;
                overflow: hidden;
                height: 10px;
                margin-top: 5px;
                width: 80%;
                //align-items: center;
                .competence-level {
                    background-color: $theme-color-1;
                    height: 100%;
                    border-radius: 8px;
                    transition: width 1.5s ease-in-out;
                    &:hover {
                        background-color: darkgray;
                        transition: background-color 0.2s ease-in-out;
                    }
                }
            }
        }
    }
    .cv-sections {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        background-color: $theme-color-2;
        border-radius: 15%;
        padding: 20px;
        box-shadow: 5px 5px 15px $theme-color-3;
        border-left: 5px solid $theme-color-3;
        margin-top: 5vh;
        transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
            &:hover {
                transform: translateY(-10px);
                box-shadow: 5px 5px 15px $theme-color-1;
                transform: scale(1.03);
            }
        h2 {
            font-size: 2.5rem;
            font-family: Ship;
            text-align: center;
            margin-bottom: 0;
            margin-top: 0;
            color: $theme-color-1;

        }
        .cv-section {
            display: flex;
            flex-direction: column;
            gap: 5vh;
            .cv-title {
                cursor: pointer;
                background-color: $theme-color-1;
                padding: 10px;
                border: 2px solid $theme-color-4;
                border-radius: 8px;
                box-shadow: 5px 5px 5px $theme-color-3;
                transition: background-color 0.3s;
                color: $theme-color-2;
                font-family: Paragraphe;
                width: 80%;
                margin: 0 auto;
                text-align: center;
                .icone-toggle {
                    //margin-left: 15vw;
                }
                &:hover {
                    background-color: $theme-color-3;
                }
            }
            .cv-content {
                display: none;
                padding: 10px;
                border-left: 3px solid $theme-color-1;
                margin: 5px 0 15px;
                width: 80%;
                margin: 0 auto;
                color: $theme-color-3;
                font-family: Paragraphe;
            }
        }
    }
}
/*.competences {
    padding: 20px;
    background-color: $theme-color-2;
    border-radius: 15%;
    margin-top: 15vh;
    //margin: 0 auto;
    width: 50%;
    box-shadow: 5px 5px 15px $theme-color-3;
    border-left: 5px solid $theme-color-3;
    h2 {
        font-size: 2.5rem;
        font-family: Ship;
        text-align: center;
        margin-bottom: 5vh;
        color: $theme-color-1;
        animation: fadeInTitle 1s ease-in-out forwards;
    }
    .competence {
        margin-bottom: 5vh;
        text-align: center;
        p {
            font-size: 1rem;
            font-family: Paragraphe;
            color: $theme-color-3;
        }
        .competence-name {
            font-size: 1rem;
            color: $theme-color-3;
        }
        .competence-bar {
            background-color: $theme-color-3;
            border-radius: 8px;
            overflow: hidden;
            height: 10px;
            margin-top: 5px;
            .competence-level {
                background-color: $theme-color-1;
                height: 100%;
                border-radius: 8px;
                transition: width 1.5s ease-in-out;
                &:hover {
                    background-color: darkgray;
                    transition: background-color 0.2s ease-in-out;
                }
            }
        }
    }
}*/

.liste-projet {
    padding: 50px 0;
        &__h2 {
            text-align: center;
            font-size: 2.5rem;
            font-family: Ship;
            color: $theme-color-1;
            //margin-bottom: 20px;
        }
        &__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            max-width: 90vw;
            margin: 0 auto;
                &__project {
                    padding: 20px;
                    border-left: 5px solid $theme-color-3;
                    border-radius: 15%;
                    box-shadow: 5px 5px 15px rgba(90, 86, 86, 0.3);
                    background-color: $theme-color-2;
                    text-align: center;
                    transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
                    text-decoration: none;
                    &:hover {
                        transform: translateY(-10px);
                        box-shadow: 5px 5px 5px $theme-color-1;
                        transform: scale(1.05);
                    }
                    img {
                        max-width: 85%;
                        height: 50%;
                        border-radius: 50%;
                        //border-radius: 25%;
                        border: 5px inset $theme-color-1;
                        //border-bottom: 5px inset $theme-color-3;
                        object-fit: cover;
                    }
                    h3 {
                        font-size: 1.5rem;
                        font-family: Paragraphe; 
                        color: $theme-color-1; 
                    }
                    p {
                        font-size: 1rem;
                        color: darkgray;
                        font-family: Paragraphe;
                        margin-bottom: 30vh;
                    }
                    .project-link {
                        display: inline-block;
                        text-decoration: none;
                    }
                    .langage {
                        border: 2px solid $theme-color-2;
                        box-shadow: 0px -5px -6px $theme-color-2;
                    }
                }
        }
}

/* Single-projet.php*/

.main-title {
    margin: auto;
    //margin-top: 5vh;
    margin-bottom: 15vh;
    padding-bottom: 3%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    //box-shadow: 0px 5px 8px $theme-color-1;
    text-align: center;
    font-family: Ship;
    font-size: 40px;
    color: $theme-color-1;
    border-bottom: 2px solid $theme-color-1;
    //background-color: $theme-color-3;
    @include respond_to_mobile {
        font-size: 25px;
        align-content: center;
        text-align: center;
    }
}

.projet-detail {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    overflow: hidden;
    align-items: center;
    text-align: center;
    @include respond_to_mobile {
        text-align: center;
        align-items: center;
        max-width: 100%;
        font-size: 15px;
    }
    &__thumbnail {
        width: 65%;
        height: 50%;
        @include respond_to_mobile {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 15%;
            box-shadow: 5px 5px 15px $theme-color-3;
            transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
            &:hover {
                transform: translateY(-10px);
                box-shadow: 5px 5px 15px $theme-color-1;
                transform: scale(1.05);
            }
            @include respond_to_mobile {
                width: 80%;
                height: 100%;
            }
        }
    }
    &__info {
        margin-bottom: 0;
        width: 65%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        @include respond_to_mobile {
            width: 100%;
            gap: 1vh;
        }
        h2 {
            font-size: 3rem;
            color: $theme-color-1;
            font-family: Ship;
            @include respond_to_mobile {
                font-size: 35px;
            }
        } 
        p {
            font-family: Paragraphe;
            font-size: 1.5rem;
            color: darkgray;
            @include respond_to_mobile {
                font-size: 1rem;
            }
        }
        &__context {
            display: flex;
            flex-direction: column;
        }
        &__competences {
            ul {
                list-style-type: none;
                padding-left: 0;
                li {
                    display: inline-block;
                    background-color: $theme-color-1;
                    padding: 5px 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    border-radius: 4px;
                    font-size: 0.9rem;
                }
            }
        }
        &__link {
            .cta-link {
                @include cta-button;
            }
        }
    }
}

.swiper-container {
    width: 100%;
    height: 400px;
    .swiper-wrapper {
        display: flex;
        flex-direction: row;
        gap: 2vw;
        .swiper-slide {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
            img {
                width: 100%;
                height: auto;
                max-height: 100%;
                object-fit: cover;
                border-radius: 15%;
                border-left: 2px solid $theme-color-1;
                border-right: 2px solid $theme-color-3;
                box-shadow: 5px 5px 15px $theme-color-1;
                @include respond_to_mobile {
                    height: 50%;
                }
            }
        }
    }
}

.other-project {
    margin-top: 50px;
    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: $theme-color-1;
        font-family: Ship;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 50px;
        max-width: 90vw;
        margin: 0 auto;
    }
    &__item {
        text-align: center;
        transition: transform 0.3s;
        padding: 15px;
        border-radius: 15%;
        transition: transform 0.3s ease-in-out, box-shadow 0.4s ease-in;
        padding-bottom: 10%;
        @include respond_to_mobile {
            margin-bottom: 5vh;
            border-top: 2px solid $theme-color-1;
        }
        img {
            width: 80%;
            height: 80%;
            border-radius: 15%;
            margin-bottom: 10px;
        }
        h3 {
            font-size: 1.2rem;
            color: $theme-color-1;
        }
        a {
            text-decoration: none;
        }
        &:hover {
            transform: translateY(-5px);
            transform: scale(1.05);
            box-shadow: 0px 6px 10px $theme-color-1;
        }
    }
}
footer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    border-top: 2px solid $theme-color-1;
    font-family: Paragraphe;
    color: gray;
}


/* Animation de clignotement */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black; // Couleur de fond du loader
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 0; // Initialement invisible
    pointer-events: none; // Empêche l'interaction pendant la transition
    transition: opacity 0.4s ease; // Transition d'apparition du loader
    &__content {
        color: $theme-color-1;
        font-size: 2rem;
        font-family: Paragraphe;
        animation: blink 1.5s infinite; // Animation de clignotement
    }
}

.loader.visible {
    opacity: 1;
    pointer-events: auto;
}

/* Modal de contact */
.modal {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000; /* Assure que la modale est au-dessus des autres éléments */ 
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
    font-family: Ship;
    margin: 0 auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
    @include respond_to_mobile {
        top: 0;
    }
        &__content {
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center; 
            background-color: black;
            background-image: url('../images/moon.jpg');
            background-position: bottom center;
            background-size: 110%;
            background-repeat: no-repeat;
            border: 5px solid $theme-color-1;
            font-size: 1rem;
            color: $theme-color-3;
            max-width: 50vw;
            box-sizing: border-box;
            margin: auto;
            border-radius: 15%;
            @include respond_to_mobile {
                max-width: 90vw;
                max-height: 80vh;
            }
            @include respond_to_tablet {
                max-width: 90vw;
            }
                .close{
                    color: $theme-color-1;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                        &:hover {
                            color: $theme-color-2;
                            text-decoration: none;
                            cursor: pointer;
                            transform: scale(2);
                        }
                        &:focus {
                            color: black;
                            text-decoration: none;
                            cursor: pointer; 
                        }
                }
                .wpcf7 {
                    display: flex;
                    flex-direction: column;
                    margin: 0 auto; 
                    align-items: center; 
                    justify-content: center; 
                    width: 100%;
                        form {
                           width: 100%;
                           display: flex;
                           flex-direction: column;
                           gap: 2px;
                           box-sizing: border-box; 
                           align-items: center;
                           justify-content: center;
                           text-align: center;
                        }
                        span {
                            input {
                                width: 100%;
                                height: 3vh;
                                border: 1px solid $theme-color-1;
                                border-radius: 15%;
                                font-family: Paragraphe;
                                color: black;
                                @include respond_to_mobile {
                                    width: 80%;
                                }
                            }
                            textarea {
                                width: 100%;
                                border: 1px solid $theme-color-1;
                                border-radius: 8px;
                                @include respond_to_mobile {
                                    height: 15vh;
                                }
                            }
                        }
                        .wpcf7-submit {
                            @include cta-button();
                            margin-left: 5vw;
                            padding: 5px 5px;
                            font-size: 1rem;
                            cursor: pointer;
                            @include respond_to_mobile {
                                margin-left: 15vw;
                            }
                            &:active {
                                transform: scale(0.9); /* Réduit légèrement la taille du bouton lorsqu'il est pressé */
                            }
                }
        }
}
}
.wpcf7 form .wpcf7-response-output {
    //display: none;
    max-width: 50vh;
    font-size: 1rem;
    margin-top: 1vh;
}
    

